
    <div ng-controller="paramController">
      <div class="row">
      <div ng-controller="expController" class="col-md-2">
        <select ng-model="exp_id" class="form-control" ng-options="o.id as o.name for o in expOptions" ng-change="getExpParams(exp_id)">
            <option value="">please select</option>
        </select>
      </div>
    </div>
      <form name="addForm" novalidate>
        <div class="row">
          <div class="col-md-1">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="addItem.name" required />
          </div>

          <div class="col-md-1">
            <label>Type</label>
            <select ng-controller="ngSelect" class="form-control" ng-model="addItem.val_type" ng-options="o.val as o.title for o in optionsData" required>
          	    <option value="">select type</option>
        	  </select>
          </div>

          <div class="col-md-1">
            <label>Min.</label>
            <input type="text" class="form-control" ng-model="addItem.min_val"/>
          </div>

          <div class="col-md-1">
            <label>Max.</label>
            <input type="text" class="form-control" ng-model="addItem.max_val" />
          </div>

          <div class="col-md-1">
            <label>Default</label>
            <input type="text" class="form-control" ng-model="addItem.default_val" required/>
          </div>

          <div class="col-md-2">
            <label>Short Description</label>
            <input type="text" class="form-control" ng-model="addItem.description" />
          </div>

          <div class="col-md-1">
            <label>Operation</label>
            <button ng-disabled="addForm.$invalid" ng-click="addParam(addItem)" class="btn btn-default">add</button>
          </div>

        </div>
      </form>
      <form name="updateForm" novalidate ng-repeat="item in items">
        <div class="row">
          <div class="col-md-1">
            <input type="text" class="form-control" ng-model="item.name" required />
          </div>

          <div class="col-md-1">
            <select ng-controller="ngSelect" class="form-control" ng-model="item.val_type" ng-options="o.val as o.title for o in optionsData" required>
                <option value="">select type</option>
            </select>
          </div>

          <div class="col-md-1">
            <input type="text" class="form-control" ng-model="item.min_val"/>
          </div>

          <div class="col-md-1">
            <input type="text" class="form-control" ng-model="item.max_val" />
          </div>

          <div class="col-md-1">
            <input type="text" class="form-control" ng-model="item.default_val" required/>
          </div>

          <div class="col-md-2">
            <input type="text" class="form-control" ng-model="item.description" />
          </div>

          <div class="col-md-2">
            <button ng-disabled="updateForm.$invalid" ng-click="updateParam(item)" class="btn btn-default">update</button>
            <button ng-click="removeParam(item)" class="btn btn-default">delete</button>
          </div>

        </div>

      </form>
    </div>
