
@()

@main("breadboard3") {
  <div ng-controller='expController'>
		<ul id='taskbar'>
		  <div ng-repeat='dialog in dialogs'>
		    <button ng-show='dialog.minimized==true || (globals.maxbool==true && dialog.maximized == false)'
		            ng-click='restore(dialog, dialogs)'>
		            {{dialog.template}}
		    </button>
		  </div>
	  </ul>
  		<div id='container'>
  		  <div ng-repeat='dialog in dialogs|filter:{minimized:false}'>
  		    <make-dialog model='dialog' dialogs='dialogs' globals='globals' expid='experiment_id'></make-dialog>
  		  </div>
  		</div>

      <div class="col-md-2">
        <select ng-model="exp_id" class="form-control" ng-options="o.id as o.name for o in expOptions" ng-change="setExpId(exp_id)">
            <option value="">please select</option>
        </select>
      </div>

	</div>



}
